<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security5">
	<head>
		<div th:replace="includes/_head::head"/>
		<title>Accueil</title>
		<script type='text/javascript' th:src="@{/js/autocomplete.js}"></script>
	</head>
	
	<body>
		<div class="container">
			<div th:each="role : ${#authentication.getPrincipal().getAuthorities()}">
				<div th:if="${#strings.toString(role) == 'ROLE_Administrateur'}">
					<div th:replace="includes/_navbar::navigation"></div>
				</div>		
				<div th:if="${#strings.toString(role) == 'ROLE_Jardinier'}">
					<div th:replace="includes/_navbar::navigation_jardinier"></div>
				</div>					
			</div>

			<div class="jumbotron jumbotron-fluid">
				<div class="container text-center">
					<h1 class="display-3" th:text="#{menu.modifCulture}"></h1>
				</div>
			</div>
			
				<h2><span th:text="#{message.modifCulture}"></span></h2>
				<div th:with="idCulture=${planteFormulaire.idCulture}">
				<form class="form-horizontal was-validated" th:action="@{/culture/modif_plante}" th:object="${planteFormulaire}" method="POST">
					<div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
					    <p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>    
					</div>				
					
					<input id ="culture" type="hidden" name="cultureAdd" th:value="@{${idCulture}}" th:field="*{idCulture}"/>
					
			        <div class="form-group row">
			        	<label for="nomCulture" class="col-2 col-form-label"  th:text="#{ajoutCulture.nomCulture}"></label>
			        	<div class="col-10">
			        		<input id="nomCulture" class="form-control" type="text" th:field="${planteFormulaire.nomCulture}" required/>
			        	</div>
			        </div>
			        
			        <div class="form-group row">
			        	<label for="nomPlante" class="col-2 col-form-label"  th:text="#{ajoutCulture.nomPlante}"></label>
			        	<div class="col-10">
			        		<input id="nomPlante" class="form-control" type="text" th:field="${planteFormulaire.nomPlante}" required/>
			        	</div>
			        </div>			        
			        
			        <div class="form-group row">
			        	<label for="variete" class="col-2 col-form-label"  th:text="#{ajoutCulture.variete}"></label>
			        	<div class="col-10">
			        		<input id="variete" class="form-control" type="text" th:field="${planteFormulaire.variete}" required/>
			        	</div>
			        </div>				        

			        <div class="form-group row">
			        	<label for="nomLatin" class="col-2 col-form-label"  th:text="#{ajoutCulture.nomLatin}"></label>
			        	<div class="col-10">
			        		<input id="nomLatin" class="form-control" type="text" th:field="${planteFormulaire.nomLatin}" required/>
			        	</div>
			        </div>			        
			        
			        <div class="form-group row">
			        	<label for="dureeDeCycle" class="col-2 col-form-label"  th:text="#{ajoutCulture.duree}"></label>
			        	<div class="col-10">
			        		<input id="dureeDeCycle" class="form-control" type="number" th:field="${planteFormulaire.dureeCycle}" required/>
			        	</div>
			        </div>	
			        
			        <div class="form-group row">
			        	<label for="recommandationBasse" class="col-2 col-form-label"  th:text="#{ajoutCulture.recomBasse}"></label>
			        	<div class="col-10">
			        		<input id="recommandationBasse" class="form-control" type="number" th:field="${planteFormulaire.recommandationBasse}" required/>
			        	</div>
			        </div>	
			        
			        <div class="form-group row">
			        	<label for="recommandationHaute" class="col-2 col-form-label"  th:text="#{ajoutCulture.recomHaute}"></label>
			        	<div class="col-10">
			        		<input id="recommandationHaute" class="form-control" type="number"th:field="${planteFormulaire.recommandationHaute}" required/>
			        	</div>
			        </div>
			        
			        <div class="form-group row">
			        	<label for="produit" class="col-2 col-form-label"  th:text="#{ajoutCulture.produit}"></label>
			        	<div class="col-10">
			        		<input id="produit" class="form-control" type="text" th:field="${planteFormulaire.produit}" required/>
			   			</div>
			        </div>	

			        <div class="form-group row">		        
						<input id="bouton" type="submit" class="btn btn-primary btn-lg" th:value="#{bouton.validation}"/>
					</div>
				</form>			
				</div>	
				
			<div th:replace="includes/_footer::footer"></div>
		</div>
	</body>
	<script type="text/javascript">
	$(document).ready(function() {
	    var table = $('#table_plante').DataTable({
	        //"processing": true,
	        //"serverSide": true,	    	
	        columnDefs: [{
	            orderable: false,
	            targets: [1,2,3]
	        }]
	    });
	 
// 	    $('#bouton').click( function() {
// 	        var data = table.$('input, select').serialize();
// 			//console.log("AAAAAHHHH ---------- "+data1);
// 			//var data = JSON.stringify(data1);
// 			//var data = JSON.parse(dataInt)
// 			console.log("AAAAAHHHH ---------- "+(data));
// 	        $.ajax({
// 	        	  type: "POST",
// 	        	  //contentType: "application/json",
// 	        	  url: "/culture/modification_culture",
// 	        	  data: (data),
// 	        	  success: function(response){
// 	        		  console.log("reponse --------- "+response);
// 	        		  if(response == "success"){
// 	        			  console.log("SUCCES --------------");
// 	        			  document.location.href = "../accueil";
// 	        		  }
// 	        		  else{
// 	        			  console.log("ERROR ---------------");
// 	        		  }
// 	        	  }
// 	        	  //dataType: "JSON"
// 	        	});	        
	        
// 	        //--TODO requete AJAX vers le serveur pour MAJ de la culture
// // 	        alert(
// // 	            "The following data would have been submitted to the server: \n\n"+
// // 	            data.substr( 0, 120 )+'...'
// // 	        );
// 	        return false;
	        
// 	    } );
	    
	} );	
	</script>
</html>