<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security5">
	<head>
		<div th:replace="includes/_head::head"/>
		<title>Accueil</title>
	</head>
	
	<body>
		<div class="container">
			<div th:each="role : ${#authentication.getPrincipal().getAuthorities()}">
				<div th:if="${#strings.toString(role) == 'ROLE_Administrateur'}">
					<div th:replace="includes/_navbar::navigation"></div>
				</div>		
				<div th:if="${#strings.toString(role) == 'ROLE_Jardinier'}">
					<div th:replace="includes/_navbar::navigation_jardinier"></div>
				</div>					
			</div>

			<div class="jumbotron jumbotron-fluid">
				<div class="container text-center">
					<h1 class="display-3" th:text="#{menu.modifCulture}"></h1>
				</div>
			</div>
			
				<h2><span th:text="#{message.modifCulture}"></span></h2>
				<form th:action="@{/culture/select_modification_culture}" th:object="${idForm}" method="POST">
<!-- 					<div class="form-check form-check-inline"> -->
<!-- 					  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="modifPlante" th:field ="*{option}" th:value="modifPlante"> -->
<!-- 					  <label class="form-check-label" for="inlineRadio1" th:text="#{menu.modifPlante}"></label> -->
<!-- 					</div>					 -->
<!-- 					<div class="form-check form-check-inline"> -->
<!-- 					  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="modifIntrant" th:field="*{option}" th:value="modifIntrant"> -->
<!-- 					  <label class="form-check-label" for="inlineRadio1" th:text="#{menu.modifIntrant}"></label> -->
<!-- 					</div> -->
<!-- 					<div class="form-check form-check-inline"> -->
<!-- 					  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="modifOpCult" th:field="*{option}" th:value="modifOpCult"> -->
<!-- 					  <label class="form-check-label" for="inlineRadio1" th:text="#{menu.modifOpCult}"></label> -->
<!-- 					</div>									 -->
		
					<table id="table_culture" class="display">
					    <thead>
					        <tr>
					        	<th></th>
					            <th><span th:text="#{inscription.nom}"></span></th>
					            <th><span th:text="#{ajoutCulture.variete}"></span></th>
					            <th><span th:text="#{ajoutCulture.produit}"></span></th>
					            <th><span th:text="#{ajoutCulture.nomOpCult}"></span></th>
					            <th><span th:text="#{ajoutCulture.nomIntrant}"></span></th>
	<!-- 				            <th><span th:text="#{ajoutCulture.nomMat}"></span></th> -->
					        </tr>
					    </thead>
					    <tbody>	
					    		
					    	<tr th:each="cultureDTO : ${mesCulturesConstr}">
					    		<td><input type="checkbox" name="cultureAdd" th:field=*{idCulture} th:value="${__${cultureDTO.idCulture}__}"/></td>
					    		<td><span th:utext="${cultureDTO.plante.nom}"></span></td>
					    		<td><span th:utext="${cultureDTO.plante.variete}"></span></td>
					    		<td><span th:utext="${cultureDTO.plante.produit}"></span></td>
					    		<td>
					    			<ol>
					    				<th:block th:each="operationCulturaleDTO : ${cultureDTO.operationsCulturales}">
											<li th:utext="${operationCulturaleDTO.nom}"></li>
						    			</th:block>
				    				</ol>
				    			</td>
					    		<td>
					    			<ul>
					    				<th:block th:each="intrantDTO : ${cultureDTO.intrants}">
					    					<li th:utext="${intrantDTO.nom}"></li>	
					    				</th:block>
					    			</ul> 
				    			</td>
					    	</tr>				    	
					    </tbody>
					</table>
				<input id="bouton_table" type="submit" class="btn btn-primary btn-lg" th:value="#{bouton.cultureModif}"/>						
				</form>
			</div>
		<div th:replace="includes/_footer::footer"></div>
	</body>
	<script type="text/javascript">
		$(document).ready( function () {
		    $('#table_culture').DataTable()
		} );	
	</script>
</html>