<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security5">
	<head>
		<div th:replace="includes/_head::head"/>
		<title>Accueil</title>
	</head>
	
	<body>
		<div class="container">
			<div th:each="role : ${#authentication.getPrincipal().getAuthorities()}">
				<div th:if="${#strings.toString(role) == 'ROLE_Administrateur'}">
					<div th:replace="includes/_navbar::navigation"></div>
				</div>		
				<div th:if="${#strings.toString(role) == 'ROLE_Jardinier'}">
					<div th:replace="includes/_navbar::navigation_jardinier"></div>
				</div>					
			</div>

			<div class="jumbotron jumbotron-fluid">
				<div class="container text-center">
					<h1 class="display-3" th:text="#{accueil.accueil}"></h1>
				</div>
			</div>
			
			<div th:with="idCulture=${cultureCreee.idCulture != null ? cultureCreee.idCulture : param.idCulture}">
				<div th:replace="includes/_navCultureCreation::navCultureCreation"></div>
				<h2><span th:text="#{message.cultureConstr}"></span></h2>
					<table id="table_culture" class="display">
					    <thead>
					        <tr>
					            <th><span th:text="#{inscription.nom}"></span></th>
					            <th><span th:text="#{ajoutCulture.variete}"></span></th>
					            <th><span th:text="#{ajoutCulture.produit}"></span></th>
					            <th><span th:text="#{ajoutCulture.nomOpCult}"></span></th>
					            <th><span th:text="#{ajoutCulture.nomIntrant}"></span></th>
					        </tr>
					    </thead>
					    <tbody>	
					    	<tr>	
					    		<td><span th:utext="${cultureCreee.plante.nom}"></span></td>
					    		<td><span th:utext="${cultureCreee.plante.variete}"></span></td>
					    		<td><span th:utext="${cultureCreee.plante.produit}"></span></td>
					    		<td>
					    			<ol>
					    				<th:block th:each="operationCulturaleDTO : ${cultureCreee.operationsCulturales}">
											<li th:utext="${operationCulturaleDTO.nom}"></li>
						    			</th:block>
				    				</ol>
				    			</td>
					    		<td>
					    			<ul>
					    				<th:block th:each="intrantDTO : ${cultureCreee.intrants}">
					    					<li th:utext="${intrantDTO.nom}"></li>	
					    				</th:block>
					    			</ul> 
				    			</td>
					    	</tr>				    	
					    </tbody>
					</table>
			</div>
			<div th:replace="includes/_footer::footer"></div>
		</div>
	</body>
	<script type="text/javascript">
		$(document).ready( function () {
		    $('#table_culture').DataTable()
		} );	
	</script>

</html>