<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security5">
	<head>
		<div th:replace="includes/_head::head"/>
		<title>Accueil</title>
	</head>
	
	<body>
		<div class="container">
			<div th:each="role : ${#authentication.getPrincipal().getAuthorities()}">
				<div th:if="${#strings.toString(role) == 'ROLE_Administrateur'}">
					<div th:replace="includes/_navbar::navigation"></div>
				</div>		
				<div th:if="${#strings.toString(role) == 'ROLE_Jardinier'}">
					<div th:replace="includes/_navbar::navigation_jardinier"></div>
				</div>					
			</div>

			<div class="jumbotron jumbotron-fluid">
				<div class="container text-center">
					<h1 class="display-3" th:text="#{accueil.accueil}"></h1>
				</div>
			</div>
			
			<div th:if="${not #lists.isEmpty(mesCulturesConstr)}">
				<h2><span th:text="#{message.cultureConstr}"></span></h2>
					<table id="table_culture" class="display">
					    <thead>
					        <tr>
					        	<th><span th:text="#{accueil.suppr}"></span></th>
					        	<th><span th:text="#{accueil.modif}"></span></th>
					            <th><span th:text="#{inscription.nom}"></span></th>
					            <th><span th:text="#{ajoutCulture.variete}"></span></th>
					            <th><span th:text="#{ajoutCulture.produit}"></span></th>
					            <th><span th:text="#{ajoutCulture.nomOpCult}"></span></th>
					            <th><span th:text="#{ajoutCulture.nomIntrant}"></span></th>
					        </tr>
					    </thead>
					    <tbody>	
					    		
					    	<tr th:each="cultureDTO : ${mesCulturesConstr}">
			    				<input id ="culture" type="hidden" name="cultureAdd" th:value="${cultureDTO.idCulture}"/>
								<td><img src="../../images/trash.ico" alt="Supprimer la culture en construction" width="25" height="25" id="suppr"/></td>
								<td th:id="${cultureDTO.idCulture}">
									<a th:href="@{/culture/tableau_bord_enregistrement_culture?idCulture=}+${cultureDTO.idCulture}">
										<img src="../../images/gmo.ico" alt="Modifier la culture en construction" width="25" height="25" id="modif"/>
									</a>
								</td>
					    		<td><span th:utext="${cultureDTO.plante.nom}"></span></td>
					    		<td><span th:utext="${cultureDTO.plante.variete}"></span></td>
					    		<td><span th:utext="${cultureDTO.plante.produit}"></span></td>
					    		<td>
					    			<ol>
					    				<th:block th:each="operationCulturaleDTO : ${cultureDTO.operationsCulturales}">
											<li th:utext="${operationCulturaleDTO.nom}"></li>
						    			</th:block>
				    				</ol>
				    			</td>
					    		<td>
					    			<ul>
					    				<th:block th:each="intrantDTO : ${cultureDTO.intrants}">
					    					<li th:utext="${intrantDTO.nom}"></li>	
					    				</th:block>
					    			</ul> 
				    			</td>
					    	</tr>				    	
					    </tbody>
					</table>			
			</div>
			
			<div th:if="${not #lists.isEmpty(culturesInstances)}">
				<h2><span th:text="#{ajout.culturesHorsRecom}"></span></h2>
					<table id="table_culture" class="display">
					    <thead>
					        <tr>
					            <th><span th:text="#{inscription.nom}"></span></th>
					            <th><span th:text="#{ajoutCulture.variete}"></span></th>
					            <th><span th:text="#{ajoutCulture.dateImpl}"></span></th>
					            <th><span th:text="#{ajoutCulture.nomOpCult}"></span></th>
					            <th><span th:text="#{ajoutCulture.nomIntrant}"></span></th>
					        </tr>
					    </thead>
					    <tbody>	
					    		
					    	<tr th:each="cultureInstanceDTO : ${culturesInstances}">
					    		<td><span th:utext="${cultureInstanceDTO.culture.nom}"></span></td>
					    		<td><span th:utext="${cultureInstanceDTO.culture.plante.variete}"></span></td>
					    		<td><span th:utext="${#dates.format(cultureInstanceDTO.date, 'dd MMM yyyy')}"></span></td>
					    		<td>
					    			<ol>
					    				<th:block th:each="operationCulturaleDTO : ${cultureInstanceDTO.culture.operationsCulturales}">
											<li th:utext="${operationCulturaleDTO.nom}"></li>
						    			</th:block>
				    				</ol>
				    			</td>
					    		<td>
					    			<ul>
					    				<th:block th:each="intrantDTO : ${cultureInstanceDTO.culture.intrants}">
					    					<li th:utext="${intrantDTO.nom}"></li>	
					    				</th:block>
					    			</ul> 
				    			</td>
					    	</tr>				    	
					    </tbody>
					</table>			
			</div>
			
					
			<span th:text ="${#authentication.getPrincipal().getUsername()}"></span>

			
			<div th:replace="includes/_footer::footer"></div>
		</div>
	</body>

	<script type="text/javascript">
		$(document).ready( function () {
		    $('#table_culture').DataTable({ select : true})
		} );	
	</script>	
	<script th:inline="javascript">	
		$(document).ready( function () {
			$('#suppr').hover( function () {			
				$(this).toggleClass("hoverImg");		
			} );			
			$('body').on('click','#suppr', function () {				
				var idCulture = $('#culture').val();
 			    alert("Vous allez supprimer cette culture en cours de construction ");
			    $.ajax({	
			    	type: "POST",
			    	url: "/admin/culture_suppr",
			    	data: "idCulture="+idCulture,			    	
			    	success: function(){
			    		document.location.href = "../accueil";
			    	}
			    });
			} );
		} );
	</script>	
</html>