<div th:fragment="fullCalendar">
	<link th:href="@{/fullCalendar/bootstrap/main.css}" rel='stylesheet' type='text/css'/>
    <link th:href="@{/fullCalendar/core/main.css}" rel='stylesheet' type='text/css'/>
    <link th:href="@{/fullCalendar/daygrid/main.css}" rel='stylesheet' type='text/css'/>
    <link th:href="@{/fullCalendar/list/main.css}" rel='stylesheet' type='text/css'/>
    <link th:href="@{/fullCalendar/timegrid/main.css}" rel='stylesheet' type='text/css'/>
    
    
   
    <script type='text/javascript' th:src="@{/fullCalendar/core/main.js}"></script>
<!--     <script type='text/javascript' th:src="@{/fullCalendar/core/locales/fr.js}"></script> -->
     <script type='text/javascript' th:src="@{/fullCalendar/bootstrap/main.js}"></script>
    <script type='text/javascript' th:src="@{/fullCalendar/daygrid/main.js}"></script>
<!--     <script type='text/javascript' th:src="@{/fullCalendar/interaction/main.js}"></script> -->
    <script type='text/javascript' th:src="@{/fullCalendar/list/main.js}"></script>
<!--     <script type='text/javascript' src='../../static/fullCalendar/luxon/main.js'></script> -->
<!--     <script type='text/javascript' src='../../static/fullCalendar/moment/main.js'></script> -->
<!--     <script type='text/javascript' src='../../static/fullCalendar/moment-timezone/main.js'></script> -->
<!--     <script type='text/javascript' src='../../static/fullCalendar/rrule/main.js'></script> -->
    <script type='text/javascript' th:src="@{/fullCalendar/timegrid/main.js}"></script>
    
</div>    