<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<div th:replace="includes/_head::head"></div>
		<title>Nouvelle Inscription</title>
	</head>
	
	<body>
		<div class="container ">
			<div th:replace="includes/_navbar::navigation"></div>
			<div class="jumbotron jumbotron-fluid">
				<div class="container text-center">
					<h1 class="display-3" th:text="#{inscription.jardinier}"></h1>
				</div>
			</div>

			<div class="container">
				<form class="form-horizontal was-validated" th:action="@{/admin/inscription_jardinier}" th:object="${inscriptionFormulaire}" method="POST">
					<div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
					    <p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>    
					</div>				
				
			        <div class="form-group row">
			        	<label for="nom" class="col-2 col-form-label"  th:text="#{inscription.nom}"></label>
			        	<div class="col-10">
			        		<input id="nom" class="form-control" type="text" placeholder="Nom" th:field="*{nom}" th:classappend="${#fields.errors('nom')} ? is-invalid" required/>
							<div class="invalid-feedback" th:errors="*{nom}"></div>
			        	</div>
			        </div>
			        
			        <div class="form-group row">
			        	<label for="prenom" class="col-2 col-form-label" th:text="#{inscription.prenom}"></label>
			        	<div class="col-10">
			        		<input id="prenom" class="form-control" type="text" placeholder="prenom" th:field="*{prenom}" th:classappend="${#fields.errors('prenom')} ? is-invalid" required/>
			        		<div class="invalid-feedback" th:errors="*{prenom}"></div>
		        		</div>
			        </div>
			        
			        <div class="form-group row">
			        	<label for="mdp" class="col-2 col-form-label" th:text="#{inscription.mdp}"></label>
			        	<div class="col-10">
				       		<input class="form-control" type="password" placeholder="mdp" id="mdp" th:field="*{mdp}" th:classappend="${#fields.errors('mdp')} ? is-invalid" required/>
				       		<div class="invalid-feedback" th:errors="*{mdp}"></div>
				       	</div> 
			        </div>
			        
			        <div class="form-group row">
			        	<label for="mdpConfirm" class="col-2 col-form-label" th:text="#{inscription.mdpConfirm}"></label>
			        	<div class="col-10">
				       		<input class="form-control" type="password" placeholder="mdp a confirmer" id="mdpConfirm" th:field="*{mdpConfirm}" th:classappend="${#fields.errors('*')} ? is-invalid " required/>
				       		<div class="invalid-feedback" th:errors="*{mdpConfirm}">Veuillez confirmer votre mot de passe</div>
				       	</div> 
			        </div>			        
			        
			        <div class="form-group row">
			        	<label for="portable" class="col-2 col-form-label" th:text="#{inscription.portable}"></label>
			        	<div class="col-10">
			        		<input class="form-control" type="tel" placeholder="01-23-45-67-89" id="portable" th:field="*{numPortable}" th:classappend="${#fields.errors('numPortable')} ? is-invalid" required/>
			        		<div class="invalid-feedback" th:errors="*{numPortable}"></div>
		        		</div>
			        </div>
			        
			        <div class="form-group row">
			        	<label for="email" class="col-2 col-form-label" th:text="#{inscription.email}"></label>
		        		<div class="col-10">
			        		<input class="form-control" type="email" placeholder="jardins@example.com" id="email" th:field="*{email}" th:classappend="${#fields.errors('email')} ? is-invalid" required/>
			        		<div class="invalid-feedback" th:errors="*{email}"></div>
		        		</div>
			        </div>
			        
			        <div class="form-group row">
			        	<label for="adresse" class="col-2 col-form-label" th:text="#{inscription.adresse}"></label>
			        	<div class="col-10">
			        		<input class="form-control" type="text" placeholder="mon adresse" id="adresse" th:field="*{adresse}" th:classappend="${#fields.errors('adresse')} ? is-invalid" required/>
			        		<div class="invalid-feedback" th:errors="*{adresse}"></div>
		        		</div>
			        </div>
			        
			        <div class="form-group row">
			        	<label for="ville" class="col-2 col-form-label" th:text="#{inscription.ville}"></label>
			        	<div class="col-10">
			        		<input class="form-control" type="text" placeholder="ma Ville" id="ville" th:field="*{ville}" th:classappend="${#fields.errors('ville')} ? is-invalid" required/>
			        		<div class="invalid-feedback" th:errors="*{ville}"></div>
		        		</div>
			        </div>
			        <div class="form-group row">
			        	<label for="postal" class="col-2 col-form-label" th:text="#{inscription.postal}"></label>
			        	<div class="col-10">
			        		<input class="form-control" type="number" placeholder="01242" id="postal" th:field="*{codePostal}" th:classappend="${#fields.errors('codePostal')} ? is-invalid"required/>
			        		<div class="invalid-feedback" th:errors="*{codePostal}"></div>
		        		</div>
			        </div>
			        
			        <div class="form-group row">
			        	 <label for="role" class="col-2 col-form-label" th:text="#{inscription.role}"></label>
			        	 <div class="col-10">
				             <select class="form-control" id="role" th:field="*{role}"> 
						      	<option th:each="role : ${roleListe}" th:value="${role}" th:text="${role}" /> 
						     </select>
					     </div>
			        </div>
			        
			        <div class="form-group row">
			        	 <label for="parcelle" class="col-2 col-form-label" th:text="#{inscription.parcelle}"></label>
			        	 <div class="col-10">
				             <select class="form-control" id="parcelle" th:field="*{idParcelle}"> 
						      	<option th:each="parcelleDTO : ${parcelleListe}" th:value="${parcelleDTO.getIdParcelle()}" th:text="${parcelleDTO.code}" /> 
						     </select>
					     </div>		        	
			        </div>
			        <div class="form-group row">		        
						<input id="bouton" type="submit" class="btn btn-primary btn-lg" th:value="#{bouton.inscription}"/>
					</div>
				</form>
			</div>
			<div th:replace="includes/_footer::footer"></div>		
		</div>	
	</body>
</html>