<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security5">
	<head>
		<div th:replace="includes/_head::head"></div>
		<title>Ajouter une culture dans le calendrier previsionnel</title>
	</head>
	
	<body>
		<div class="container ">
			<div th:replace="includes/_navbar::navigation_jardinier"></div>
			<div class="jumbotron jumbotron-fluid">
				<div class="container text-center">
					<h1 class="display-3" th:text="#{ajoutCulture.accueil}"></h1>
				</div>
			</div>
			<form th:action="@{/user/ajouter_culture}" th:object="${ajoutCultureFormulaire}" method="POST">
				<table id="table_id" class="display">
				    <thead>
				        <tr>
				        	<th></th>
				            <th><span th:text="#{inscription.nom}"></span></th>
				            <th><span th:text="#{ajoutCulture.variete}"></span></th>
				            <th><span th:text="#{ajoutCulture.produit}"></span></th>
				            <th><span th:text="#{ajoutCulture.nomOpCult}"></span></th>
				            <th><span th:text="#{ajoutCulture.nomIntrant}"></span></th>
<!-- 				            <th><span th:text="#{ajoutCulture.nomMat}"></span></th> -->
				        </tr>
				    </thead>
				    
				    <tbody>		
				    	<tr th:each="cultureDTO : ${mesCultures}">
				    		<td><input type="checkbox" name="cultureAdd" th:field=*{culturesAjoutees} th:value="${__${cultureDTO.idCulture}__}"></td>
				    		<td><span th:utext="${cultureDTO.plante.nom}"></span></td>
				    		<td><span th:utext="${cultureDTO.plante.variete}"></span></td>
				    		<td><span th:utext="${cultureDTO.plante.produit}"></span></td>
				    		<td>
				    			<ol>
				    				<th:block th:each="operationCulturaleDTO : ${cultureDTO.operationsCulturales}">
										<li th:utext="${operationCulturaleDTO.nom}"></li>
					    			</th:block>
			    				</ol>
			    			</td>
				    		<td>
				    			<ul>
				    				<th:block th:each="intrantDTO : ${cultureDTO.intrants}">
				    					<li th:utext="${intrantDTO.nom}"></li>	
				    				</th:block>
				    			</ul> 
			    			</td>
				    	</tr>				    	
				    </tbody>
				</table>
				<input type="submit" class="btn btn-primary btn-lg" th:value="#{bouton.validation}"/>
			</form>			
			
			<div th:replace="includes/_footer::footer"></div>		
		</div>			
	</body>
	<script type="text/javascript" th:inline="javascript">
		$(document).ready(function() {
		    $('#table_id').DataTable( {
		        columnDefs: [ {
		            orderable: false,
		            className: 'select-checkbox',
		            targets:   0
			        }
		        ],
		        
		        select: {
		            style:    'os',
		            selector: 'td:first-child'
		        },
		        
		        order: [ [ 1, 'asc' ] ]
		    } );
		} );	
	</script>	
</html>